#Docsmain {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: white;
  height: fit-content;
  width: 90%;
  left: 50%;
  top: 25px;
  translate: -50%;
  border-radius: 5px;
  transition: height 0.5s ease;
}
#createArea{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  background: var(--third-background);
  padding: 7px;
}
#docsContainer{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  height: 130px;
  position: absolute;
  right: 5px;
  top: 50px;
  width: 15%;
  overflow-y: auto;
}
#docsContainer::-webkit-scrollbar{
  width: 0px;
}
.Document{
  background: var(--accent-color);
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
  justify-content:space-between;
}
.Document button{
  color: var(--text-color);
  background-color: red;
  border: 0px solid black;
  padding: 7px;
  font-size: 15px;
  border-radius: 5px;
}





.container {
  width: 80%;
  margin: right;
  background: var(--hover-color);
  padding: 20px;
  color: black;
  border-radius: 10px;
}
input, select, button {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}
#editor {
  min-height: 300px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 6px;
  background-color: #fafafa;
  margin-bottom: 15px;
  overflow-y: auto;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: fit-content;
}
#savedDocs{
  height: fit-content;
  border-radius: 5px;
}
#savedDocs option:hover{
  background-color: var(--accent-color);
}
#external{
  background-color: var(--hover-color);
  border-radius: 10px;
  margin-left: 5px;
  padding: 7px;
}
button:hover {
  background-color: #0056b3;
}
.btn-danger {
  background-color: #dc3545;
}
.btn-danger:hover {
  background-color: #c82333;
}
label {
  font-weight: bold;
}
.button-group {
  display: flex;
  gap: 10px;
  height: fit-content;
}