@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --base-clr:#11121a;
    --line-clr:#42434a;
    --hover-clr:#222533;
    --text-clr:#e6e6ef;
    --acent-clr:#5e63ff;
    --secondary-text-clr:#b0b3c1;
    --btn-hover-clr:hsl(240, 100%, 75%);
    --btn-clr:hsl(240, 100%, 70%);
}

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
body{
    display: flex;
    background-color: var(--base-clr);
    color: var(--text-clr);
    font-size: 1rem;
    font-weight: 400;
}




.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    /* background-color: red; */
    /* background-color: #989cff; */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-image: none;
    backdrop-filter: blur(10px);
    padding: 5em;
}
a {
    background-color: black;
    padding: 2px;
    padding-bottom: 5px;
    border-radius: 3px;
}
.container h1{
    padding-bottom: 10px;
    margin-bottom: .7em;
}
.container input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--line-clr);
    border-radius: 0.5rem;
    background-color: var(--base-clr);
    color: var(--text-clr);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.container button{
    width: 100%;
    background-color: var(--btn-clr);
    color: var(--text-clr);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.container button:hover{
    background-color: hsl(240, 100%, 75%);
}
.container button:active{
    background-color: var(--acent-clr);
    transform: scale(0.95);
}



.acc-switch{
    margin-top: 10px;
    font-size: 0.8rem;
    color: var(--secondary-text-clr);
}
.acc-switch a{
    color: var(--acent-clr);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.acc-switch a:hover{
    text-decoration: underline;
}

.pic1{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 45em;
    height: 45em;
    z-index: -1;
    background-color: red;

    transform: rotate(78deg);
    border-radius: 20%;
    background-color: var(--acent-clr);
}

.pic2{
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
    width: 30em;
    height: 30em;
    z-index: -1;
    background-color: red;

    transform: rotate(28deg);
    border-radius: 20%;
    background-color: var(--acent-clr);
}